@import url('reset.css');

/* cyrillic-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7SUc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7SUc.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7SUc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7SUc.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7SUc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7SUc.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @keyframes scale {
    0% { transform: scale(1); }
    94% { transform: scale(1.25); }
    96% { transform: scale(1); }
    98% { transform: scale(1.25); }
    100% { transform: scale(1); }
  }

:root {
    --font-size: 16px;
    --font-color: #454545;
    --input-color: #6c6c6c;
    --background: #ffffff;
    --sas-main-color: #FAB418;
    --sas-blue-color: #0065a3;
    --red-lg: #990f02;
}


* {
    box-sizing: border-box;
    font-size: 16px;
    transition: all .25s ease;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}
.page {
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--background);
    position: relative;
}
/* HEADER */
.header {
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background);
    border-bottom: 1px solid #f2f2f2;
    box-shadow: 1px 2.5px 10px 0px rgba(242,242,242,0.75);
}
.header__logo {
    width: 225px;
    height: auto;
}
.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}
.header-buttons__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--background);
    background: var(--sas-main-color);
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px var(--sas-main-color) solid;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:20px auto;
}
/* UPLOAD CONTAINER */
.upload-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    margin: 10px 0;
}
.upload-container__upload {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--background);
    background: var(--sas-main-color);
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px var(--sas-main-color) solid;
    text-transform: uppercase;
    font-weight: 500;    
    cursor: pointer;
}

.remove-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--red-lg);
    padding: 20px;
    color: var(--background);
    border-radius: 4px;
    border: 1px var(--red-lg) solid;
    cursor: pointer;
}

.download-container {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--sas-blue-color);
    padding: 20px;
    color: var(--background);
    border-radius: 4px;
    border: 1px var(--sas-blue-color) solid;
    cursor: pointer;
    text-transform: uppercase;    
}

.download-container_disable {
    pointer-events: none;
    opacity: .25;
    background: var(--font-color);
    border: 1px var(--font-color) solid;
}
.upload-container__hidden-input {
    display: none;
}
.upload-container__message {
    display: flex;
    align-items: center;
    width: 350px;
    color: var(--sas-blue-color);
}
.upload-container__message.error {
    color: var(--red-lg);
}

/* USER FORM */
.user-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    margin-top: 40px;
}
.datafeed-information {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 45%;
}
.datafeed-information__description {
    font-size: 1.125rem;
    font-weight: 500;
}
.datafeed-information_headers {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 15px;
    justify-content: space-between;
    max-height: fit-content;
}
.user-form__input-title {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.2;
}
.user-form__input-title_mandatory, .user-form__input-title_detail {
    font-style: italic;
    font-weight: 300;
}
.user-form__input-title_mandatory {
    color: var(--red-lg);
}
.user-form__input {
    display: flex;
    flex-direction: column;
    width: 95%;
    row-gap: 10px;
}
.user-form__input_invalid .user-form__input-title {
    color: var(--red-lg);
}
.user-form__input_invalid input, .user-form__input_invalid select {
    border-bottom: 1.5px var(--red-lg) solid !important;
}
.datafeed-information_headers .user-form__input {
    width: 30%;
    justify-content: space-between;
}
.datafeed-information_headers .user-form__input_big {
    width: 60%;
}
.datafeed-information__more-inputs {
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .75s ease, height .5s ease;
    max-height: fit-content;
}
.datafeed-information__more-inputs_collapsed {
    height: 100%;
    opacity: 1;
}
.datafeed-information__see-more {
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--background);
    background: var(--sas-blue-color);
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px var(--sas-blue-color) solid;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}
.datafeed-information__see-more:hover {
    background: var(--background);
    color: var(--sas-blue-color);
}
.user-form__input input, .user-form__input select {
    width: 75%;
    font-size: 0.875rem;
    color: var(--input-color);
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--sas-main-color);
    cursor: pointer;
}
.user-form__input.user-form__input_big select {
    width: 96%;
}
.user-form__input input:focus-visible, .user-form__input select:focus-visible {
    border: none;
    border-bottom: 1px solid var(--sas-blue-color);
    outline: none;
}
.user-form__input input:not([type=select]) {
    cursor: text;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.user-form__input_shopify_hide {
    height: 0;
    overflow: hidden;
    opacity: 0;
}
.user-form__input-details {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: 1rem;
    color: var(--input-color);
}
.user-form__input-text {
    margin-bottom: 10px;
}
.user-form__input_checkbox {
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 20px;
    align-items: center;
}
.user-form__input_checkbox .user-form__input-field {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 0.5px var(--sas-main-color) solid;
    cursor: pointer;
}
.user-form__input_checkbox .user-form__input-field i {
    font-size: 0rem;
    opacity: 0;
}
.user-form__input_checkbox .user-form__input-field.user-form__input-field_checked {
    background: #FAB418;
}
.user-form__input_checkbox .user-form__input-field.user-form__input-field_checked i {
    opacity: 1;
    font-size: 0.875rem;
}
.user-form__input_storesconnect_hide {
    height: 0;
    overflow: hidden;
    opacity: 0;
}
.user-form__example {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.user-form__example-title {
    margin-bottom: 5px;
}
.user-form__example-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: fit-content;
}
.user-form__example-item:before {
    content: "";
    width: 7.5px;
    height: 2px;
    background: var(--font-color);
}
.user-form__example-item_detail {
    color: var(--sas-blue-color);
}
/* STATUS POPUP */
.status-popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 100px;
    bottom: -200px;
    width: fit-content;
    padding: 20px;
    border-radius: 60px;
    background: var(--sas-blue-color);
    color: var(--background);
    opacity: 0;
    transition: all .5s ease, opacity 1s ease;
}
.status-popup_active {
    bottom: 40px;
    opacity: 1;
}
.status-popup_error {
    background: var(--red-lg);
}
.status-popup__message {
    cursor: default;
}
/* HELP POPUP */
.help-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background: rgba(244, 244, 244, 0.75);
    box-shadow: -2px 2px 3px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(6px);
}
.help-popup_active {
    width: 100%;
    height: 100%;
    bottom: 0;
}
.help-button {
    color: var(--sas-blue-color);
    font-size: 0rem;
    position: fixed;
    right: 40px;
    bottom: 45px;
    opacity: 1;
    cursor: pointer;
}
.help-button_close {
    top: 0px;
}
.help-popup_active .help-button_close {
    top: 45px;
    height: 50px;
    font-size: 3rem;
}
.help-popup:not(.help-popup_active) .help-button_open {
    font-size: 3rem;
}
.help-button_open {
    animation: scale 60s infinite;
    animation-delay: 5s;
}
.help-content {
    overflow: hidden;
    width: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.help-popup_active .help-content {
    width: 80%;
    height: 80%;
    overflow: auto;
    row-gap: 40px;
    font-size: 1.125rem;
    line-height: 1.2;
    color: var(--font-color);
}
.help-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.help-list__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-left: 15px;
}
.help-list__item::before {
    content: "";
    width: 10px;
    min-width: 10px;
    max-width: 10px;
    height: 2px;
    background: var(--font-color);
}
.help-content a {
    color: var(--sas-blue-color);
    text-decoration: none;
}
.help-content__bold {
    font-weight: 700;
}
.help-content__text_bold {
    font-weight: 700;
}
.help-content__link {
    padding: 5px;
    color: var(--sas-blue-color);
    text-decoration: none;
    border-radius: 3px;
}

@media ( max-width: 1200px ) {
    .datafeed-information_headers .user-form__input {
        width: 95%;
    }
    @media ( max-width: 1000px ) {
        .user-form {
            flex-direction: column;
            align-items: center;
            row-gap: 40px;
        }
        .datafeed-information {
            width: 90%;
        }
        @media ( max-width: 850px ) {
            * {
                font-size: 0.875rem !important;
            }
            .upload-container {
                justify-content: space-between;
            }
            .header-buttons__link {
                padding: 10px 5px;
            }
            .user-form__input {
                row-gap: 5px;
            }
            .upload-container__upload {
                padding: 5px;
                width: 75%;
            }
            .download-container {
                width: 75%;
                padding: 10px;
                margin: 0;
            }
            .remove-container {
                padding: 10px;
            }
            .upload-container__message {
                width: 100%;
                min-height: 50px;
            }
            .user-form__input input, .user-form__input select {
                width: 100%;
            }
            .help-button {
                font-size: 0rem !important;
            }
            .help-popup_active .help-button_close {
                font-size: 3rem !important;
            }
            .help-popup:not(.help-popup_active) .help-button_open {
                font-size: 3rem !important;
            }
            .help-content__text, .help-list__item {
                font-size: 1rem !important;
            }
            @media ( max-width: 550px ) {
                .header {
                    align-items: center;
                    row-gap: 5px;
                }
                .header__logo {
                    width: 175px;
                }
                .main {
                    width: 95%;
                }
                @media ( max-width: 500px ) {
                    .header {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    .help-popup_active .help-button_close {
                        font-size: 2rem !important;
                    }
                    .help-popup:not(.help-popup_active) .help-button_open {
                        font-size: 2rem !important;
                    }
                }
            }
        }
    }
}

@media only screen and (hover: hover) and (pointer: fine) {
    .header-buttons__link:hover {
        background: var(--background);
        color: var(--sas-main-color);
    }
    .upload-container__upload:hover {
        background: var(--background);
        color: var(--sas-main-color);
    }
    .remove-container:hover {
        background: var(--background);
        color: var(--red-lg);
    }
    .download-container:hover {
        background: var(--background);
        color: var(--sas-blue-color);
    }
    .help-button:hover {
        opacity: .75;
    }
    .help-content__link:hover {
        color: var(--background);
        background: var(--sas-blue-color);
    }
}
